.App {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 100vh;
  width:auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  display:inline-block;
  padding: 0.3em 1.2em;
  border-radius:2em;
  font-size: 48px;
  background-color: rgb(255, 255, 255, .5);
  margin: auto;
}

button:hover {
  background-color: rgb(255, 255, 255, .8);
}

text {
  font-size: 72px;
  font: bold;
  justify-content: center;
  margin: auto;
}